<!DOCTYPE html>
<html lang="en">
<head>
<title>diploma_project</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" media="screen">
<script src="{{ url_for('static', filename='js/jquery-1.7.1.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/cufon-yui.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/cufon-replace.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Vegur_500.font.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/FF-cash.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/tms-0.3.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/tms_presets.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.equalheights.js')}}" type="text/javascript"></script>

</head>
<body id="page2">
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>
      <div class="main">
        
      </div>
    </header>
    <!--==============================content================================-->
      
    <form method="POST" action="{{ url_for('about') }}">
      <label for="ur_ip">Введите IP:</label>
      <input type="text" name="ur_ip" id="name"><br><br>
      <label for="limit">Введите триггерную величину:</label>
      <input type="text" name="limit" id="name"><br><br>
      <input type="submit" value="Cканировать">
    </form>
    
    <div class="lastlink">
        <table class="tabletvar">
          <tr style="padding: 3px; border: 1px solid rgb(255, 255, 255); text-align: left;">
            <td>DNS DDOS</td>
            <td>DNS Amplification</td>
            <td>Zone transfer</td>
            <td>DNS spoofing</td>
            <td>DNS poisoning</td>
            <!-- <td>SSL/TLS-DDoS</td>
            <td>DNS-transferZone</td>
            <td>DNS-Amplification</td> -->
          </tr>
          <tr>
            <td>{{ a }}</td>
            <td>{{ b }}</td>
            <td>{{ c }}</td>
            <td>{{ d }}</td>
            <td>{{ e }}</td>
            <!-- <td>{{ ssl }}</td>
            <td>{{ dnsTZ }}</td>
            <td>{{ dnsAP }}</td> -->
          </tr>
        </table>
        <!-- {{a}}
        {{b}}
        {{c}}
        {{d}}
        {{e}} -->
        
        <br><br>
        <p align="center"> 
          Возможные инсайдеры: <br> 
          {{ insaiders }} 
        </p>
        <br><br>
      </div>

    <div align="center">
      {% block content %}
        {% for field in table %}
          {{ field[0] }} - {{ field[1] }} - {{ field[2] }} - {{ field[3] }} - {{ field[4] }}
          <br>
          {% endfor %}
      {% endblock %}
    </div>
    <!--==============================footer=================================-->
    <footer>
      <div class="main"> made by Kruasanow </div>
    </footer>
  </div>
</body>
</html>