
{% extends "base.html" %}

{% block title %}Список доступа{% endblock %}

{% block content %}
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>
      <h3></h3><br><br><br>
    </header>
    <!--==============================content================================-->
    <div class="main_block">
      
      <!-- <div class="blocks_main1">
        <img class="gr_style"  src="data:image/png;base64,{{ i }}" alt=".">
      </div> -->
      
    </div>
    <form action="/acl" method="POST">
      <button name="clear" value="1">Очистить ACL</button>
    </form>

    <form method="POST" action="/acl">
      <select name="ip_acl">
        {% for ip in acl %}
          <option value="{{ ip }}">{{ ip }}</option>
        {% endfor %}
      </select>
      <br><br>
      <input type="submit" value="Выбрать">
    </form>

    {% for i in acl %}
    {{i}}
    {% endfor %}
    {{ip_message}}
    <h1>Введите IP-адрес</h1>
    <form action="{{ url_for('acl') }}" method="POST">
      <input type="text" name="octet1" maxlength="3" size="3" value="{{ request.form.octet1 }}">.
      <input type="text" name="octet2" maxlength="3" size="3" value="{{ request.form.octet2 }}">.
      <input type="text" name="octet3" maxlength="3" size="3" value="{{ request.form.octet3 }}">.
      <input type="text" name="octet4" maxlength="3" size="3" value="{{ request.form.octet4 }}">
      <br><br>
      <input type="submit" value="Отправить">
    </form>
</div></div>
{% endblock %}