<!DOCTYPE html>
<html lang="en">
<head>
<title>diploma_project</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" media="screen">
<script src="{{ url_for('static', filename='js/jquery-1.7.1.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/cufon-yui.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/cufon-replace.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Vegur_500.font.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/FF-cash.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/tms-0.3.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/tms_presets.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.equalheights.js')}}" type="text/javascript"></script>

</head>
<body id="page1">
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>

    </header>
    <!--==============================content================================-->
    <section id="content">
      <div class="main">
        <div class="container_12">

        <form method="post">
            <select name="ns">
                {% for n in ns %}
                    <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
            </select>
            <br><br>
            <select name="qtype">
              {% for n in qtype %}
                  <option value="{{ n }}">{{ n }}</option>
              {% endfor %}
          </select>
          <br><br>
            <input type="submit" value="Submit">
        </form>
        {{ ampl }}

        <form method="post">
          <button name="scheck"> Проверить на уязвимость </button>
        </form>
        {% for i in good_ip %}
          {{ i }}
        {% endfor %}

        <form method="POST" action="{{ url_for('emulation') }}">
          <label for="name">Введите IP цели:</label>
          <input type="text" name="doampl" id="name"><br><br>
          <input type="submit" value="Начать">
        </form>
        {{ pac }}

        <form method="POST" action="{{ url_for('emulation') }}">
          <label for="name">Введите DNS-сервер:</label>
          <input type="text" name="ip_ns" id="name"><br><br>
          <label for="name">Введите домен:</label>
          <input type="text" name="ip_domain" id="name"><br><br>

          <input type="submit" name="tzone" value="Начать">
        </form>
          {{ status }}
          {{ tzone }}

          <div align="center">
            <p class="submit" >
              <a href="/about"> Перейти к отчету</a>
            </p>
            <p class="submit">
              <a href="/dnsmap">Смотреть карту DNS серверов</a>
            </p>
            <p class="submit">
              <a href="/report">Информация о серверах</a>
            </p>
            <p class="submit">
              <a href="/restart">Перезапустить сервер</a>
            </p>
            <p class="submit">
              <a href="/emulation">Эмуляция</a>
            </p>
          </div>
  
        </div>
      </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
      <h5>made by Kruasanow</h5>
    </footer>
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(window).load(function () {
    $('.slider')._TMS({
        duration: 1000,
        easing: 'easeOutQuint',
        preset: 'simpleFade',
        slideshow: 7000,
        banners: false,
        pauseOnHover: true,
        pagination: false,
        pagNums: false,
        nextBu: '.next',
        prevBu: '.prev'
    });
});
</script>
</body>
</html>
