
{% extends "base.html" %}

{% block title %}Эмуляция{% endblock %}

{% block content %}
<style type="text/css">
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#7f7f7f;
	min-width:960px;
	height:100%;
	background:url(../images/body-bg.jpg) center top repeat #151515
	}
div.lastlink {border-top:1px solid #e0e0e0;margin-top:10px;padding:10px;}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/svgworldmap.css')}}" type="text/css" media="screen">>
<script src="{{ url_for('static', filename='js/map_local.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.svgworldmap-2.1.src.js')}}" type="text/javascript"></script>

</head>
<body>
<h3>Карта распределения анализируемых DNS-серверов</h3>

<div class="flex" style="display: flex;
align-items: center;">
<div id="place" style="width: 1100px;height:400px;" class="blocks_main"></div>
<div class="blocks_main"> <iframe src="{{ url_for('static', filename='countries.html') }}" width="600px" height="400px"></iframe> </div>
</div>
<script type="text/javascript">

/* Country click handler */
function countryclick(tld) {
	alert('Country clicked: '+tld);
	}

jQuery(document).ready(function(){

	jQuery('#place').SVGWorldMap({
		bottom:20, /* Bottom padding (removes antarctica from map) */
		clickhandler :'countryclick', /* Click handler function name */
		c : {{ data|safe }} /* Country classes */
		});

	});

</script>
<br>

<form method="POST" action="/dnsmap">
	<select name="option">
		{% for option in base %}
			<option value="{{ option }}">{{ option }}</option>
		{% endfor %}
	</select>
	<br><br>
	<input type="submit" value="Выбрать">
</form>

<!-- {% for i in base %}
	{{i}}
{% endfor %} -->


<div class="lastlink">
	<h3>Информация о доменных именах и делегируемых им DNS-серверах:</h3>	
	<br>	
	<div>
		<table class="tabletvar">
			<tr style="padding: 3px; border: 1px solid rgb(255, 255, 255); text-align: left;">
			  <th>Страна</th>
			  <th>Штат</th>
			  <th>Город</th>
			  <th>Адрес</th>
			  <th>Организация</th>
			  <th>Email</th>
			  <th>DNS-сервера</th>
			  <th>Дата создания</th>
			  <th>Дата обновления</th>
			  <th>Регистратор</th>
			  <th>Доменное имя</th>
			</tr>
			{% for i in who %}
			<tr> 
			  {% for j in i %}
			  <td>{{ j }}</td>
			  {% endfor %}
			</tr>
			{% endfor %}
		  </table>
	</div>
</div>
{% endblock %}
