
{% extends "base.html" %}

{% block title %}Список доступа{% endblock %}

{% block content %}
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>
      <h3></h3><br><br><br>
    </header>
    <!--==============================content================================-->
    <style>
      .form-container {
          display: flex;
          width: 100%;
      }

      .form-container form {
          margin-right: 10px;
          width: 30%;
      }
    </style>
          <br>
          <hr>
          <br><br>
    <div class="form-container">
      <form method="POST" action="/imap">
        <p>Ключ:</p>
        <input type="text" name="addedkey">
        <p>Название ключа:</p>
        <input type="text" name="keyname">
        <button type="submit">Создать</button>
      </form>
      <!-- </div> -->
      <!-- <div class="form-inline"></div> -->
      <form method="POST" action="/imap">
        <p>Выбрать ключ для удаления:</p>
        <select name="delkey">
          {% for key in dir %}
            <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Удалить">
      </form>
      <!-- </div> -->
      <!-- <div class="form-inline"></div> -->
      <form method="POST" action="/imap">
        <p>Выбрать ключ для дешифрования:</p>
        <select name="key">
          {% for key in dir %}
            <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Расшифровать">
      </form>
      </div>
    
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <div class="indent-traffic">
        {% for i in sd %}
          {% if i[4]|int is jinja_is_prime%}
          <p class="division_0">{{i}}</p>
          {% else %}
          {{i}}
          {% endif %}
        {% endfor %}
      </div> 
      <br><br>
{% if dshow == True %}
    <br>
    <hr>
    <br><br>
      <div class="indent-traffic">
        {% for i in dsd %}
          {% if i[4]|int is jinja_is_prime%}
          <p class="division_0">{{i}}</p>
          {% else %}
          {{i}}
          {% endif %}
        {% endfor %}
      </div> 
{% endif %}

{% if show == True %} 
<br>
<hr>
<br><br>
  <div class="blocks_main2">
    <img class="gr_style1"  src="data:image/png;base64,{{ circle }}" alt=".">
  </div>
  <style>
    .tabletvar2 {
      width: 100%;
    }

    .centerblock {
      margin-left: 35%;
    }

    .tabletvar2 {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; 
    }
    .tabletvar2 th {
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }
    .tabletvar2 td {
      border: 1px solid #dddddd;
      padding: 5px;
      text-align: left;
    }
    .tabletvar2 tr td:first-child, .tabletvar2 tr th:first-child {
      border-left: none;
    }
    .tabletvar2 tr td:last-child, .tabletvar2 tr th:last-child {
      border-right: none;
    }
    </style>
  <br>
  <hr>
  <br><br>
  <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headimap[0]}}</th>
        </tr>
        {% for i in range(req[0]|length) %}
        <tr>
          <td>{{req[0][i]}}</td>
          <td>{{req[1][i]}}</td>          
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headimap[1]}}</th>
        </tr>
        {% for i in range(resp[0]|length) %}
        <tr>
          <td>{{resp[0][i]}}</td>
          <td>{{resp[1][i]}}</td> 
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headimap[2]}}</th>
        </tr>
        {% for i in range(reqtag[0]|length) %}
        <tr>
          <td>{{reqtag[0][i]}}</td>
          <td>{{reqtag[1][i]}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>{{headimap[3]}}</th>
        </tr>
        {% for i in resptag %}
        <tr>
          <td>{{i}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>{{headimap[4]}}</th>
        </tr>
        {% for i in reqcommand %}
        <tr>
          <td>{{i}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>{{headimap[5]}}</th>
        </tr>
        {% for i in decoded_codes %}
        <tr>
          <td>{{i}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
      <p class="theme" style="text-align: left;">123:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>{{headimap[6]}}</th>
        </tr>
        {% for i in respstatus %}
        <tr>
          <td>{{i}}</td>
        </tr>
        {% endfor %}
      </table>
{% endif %}
    </div>

</div></div>
{% endblock %}