
{% extends "base.html" %}

{% block title %}ПК анализа трафика{% endblock %}

{% block content %}

        <div class="slider-wrapper">
          <div class="slider">
            <ul class="items">
              <li> <img src="{{ url_for('static', filename='img/slider-img1.jpg')}}" alt="" /> </li>
              <li> <img src="{{ url_for('static', filename='img/slider-img2.jpg')}}" alt="" /> </li>
              <li> <img src="{{ url_for('static', filename='img/slider-img3.jpg')}}" alt="" /> </li>
            </ul>
          </div>
        </div>
    </header>
    <!--==============================content================================-->
    <section id="content">
      <div class="main">
        <div class="wrapper">
          <article>
                    <p class="submit1">Исходный дамп трафика :   {{ filename }}</p>
                    <table class="table_protocol">
                      <tr>
                        <td>Протокол</th>
                        <td>DNS</td>
                        <td>TCP</td>
                        <td>SSL</td>
                        <td>HTTP</td>
                        <td>DATA</td>
                        <td>ICMP</td>
                        <td>SMTP</td>
                        <td>IMAP</td>
                        <td>POP</td>
                        <td>SNMP</td>
                      </tr>
                      <tr>
                        <td>Количество пакетов</td>
                        {% for i in counted_packets %}
                        <td>{{ i }}</td>
                        {% endfor %}
                      </tr>
                    </table>
                    <div class="indent-traffic">
                      {% for i in sd %}
                        {% if i[4]|int is jinja_is_prime%}
                        <p class="division_0">{{i}}</p>
                        {% else %}
                        {{i}}
                        {% endif %}
                      {% endfor %}
                    </div>
          </article>
        </div>
          <br>
          <div width="100%">
            <form action="" method=post enctype=multipart/form-data>
              <p class="submit1"> 
                <label for="file-input" class="btn">Выбрать файл</label>
                <input id="file-input" type="file" style="display: none;" class="btn" name="file">
                <input class="btn" type=submit value=Загрузить>
              </p>
                </form>
          </div>
          <br><br>
          
          <div class="wrapper p5" style="display: flex; justify-content: space-between;">
            <article class="grid_4" width="30%">
              <div class="wrapper">
                <figure class="img-indent"><img src="{{ url_for('static', filename='img/page1-img1.png')}}" alt=""></figure>
                <div class="extra-wrap">
                  <h4>Wireshark</h4>
                  <p class="p2">программа-анализатор трафика c графическим интерфейсом.</p>
                  <a class="button" href="/wireshark">читать...</a> </div>
              </div>
            </article>
            <article class="grid_4" width="30%">
              <div class="wrapper">
                <figure class="img-indent"><img src="{{ url_for('static', filename='img/page1-img2.png')}}" alt=""></figure>
                <div class="extra-wrap">
                  <h4>Tcpdump</h4>
                  <p class="p2">утилита UNIX, позволяющая перехватывать трафики. </p>
                  <a class="button" href="/tcpdump">читать...</a> </div>
              </div>
            </article>
            <article class="grid_4" width="30%">
              <div class="wrapper">
                <figure class="img-indent"><img src="{{ url_for('static', filename='img/page1-img3.png')}}" alt=""></figure>
                <div class="extra-wrap">
                  <h4>Tshark</h4>
                   <p class="p2">программа-анализатор трафика c терминальным интерфейсом.</p>
                  <a class="button" href="/tshark">читать...</a> </div>
              </div>
            </article>
          </div>
      </div>
    </section>
    <!--==============================footer=================================-->
    {% endblock %}
