
{% extends "base.html" %}

{% block title %}Информация о DNS серверах{% endblock %}

{% block content %}
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>
      <h3></h3><br><br><br>
    </header>
    <!--==============================content================================-->
    <div class="main_block">
      {% for i in graph %}
      <div class="blocks_main1">
        <img class="gr_style"  src="data:image/png;base64,{{ i }}" alt=".">
      </div>
      {% endfor %}
    </div>
    <img class="gr_style"  src="data:image/png;base64,{{ cir }}" alt=".">

    <section id="content">
      <table class="tabletvar">
        <tr>
          <th>DNS-сервер</th>
          <th>Сумма пакетов</th>
          <th>Рекурсия</th>
          <th>Среднее время</th>
          <th>Средний TTL</th>
          <th>FQDN запроса</th>
          <th>Транк</th>
          <th>Осиротевшие пакеты</th>
          <th>Ошибки (RCODE)</th>
          <th>Врема добавления</th>
        </tr>
        
          {% for i in case %}
        <tr>
          {% for j in i %}
          <td>
              {{ j }}
          </td> 
            {% endfor %}
        </tr>
          {% endfor  %}
      </table>
      <table class="tabletvar">
        <tr>
          <th>DNS-сервер</th>
          <th>FQDN запроса</th>
          <th>IP-адрес (A-record)</th>
          <th>Порядок приема</th>
          <th>Тип запроса</th>
          <th>Класс запроса</th>
          <th>Тип ответа</th>
          <th>Класс ответа</th>
          <th>Opcode</th>
          <th>Количество ответов</th>
          <th>Количество запросов</th>
          <th>SOA-refresh</th>
          <th>SOA-expire-limit</th>
          <th>SOA-min-ttl</th>
        </tr>
        
          {% for i in case2 %}
        <tr>
          {% for j in i %}
          <td>
              {{ j }}
          </td> 
            {% endfor %}
        </tr>
          {% endfor  %}
      </table>
    </div></div>
    {% endblock %}