
{% extends "base.html" %}

{% block title %}Список доступа{% endblock %}

{% block content %}
<div class="main-bg">
  <div class="bg">
    <!--==============================header=================================-->
    <header>
      <h3></h3><br><br><br>
    </header>
    <style>
      .form-container {
          display: flex;
          width: 100%;
      }

      .form-container form {
          margin-right: 10px;
          width: 30%;
      }
    </style>
    <!--==============================content================================-->
    <br>
    <p class="theme" style="text-align: left;">Настройка SSL-ключей :</p>
    <hr>
    <br><br>
    <div class="form-container">
    <form method="POST" action="/smtp">
      <p>Ключ:</p>
      <input type="text" name="addedkey">
      <p>Название ключа:</p>
      <input type="text" name="keyname">
      <button type="submit">Создать</button>
    </form>
    <!-- </div> -->
    <!-- <div class="form-inline"></div> -->
    <form method="POST" action="/smtp">
      <p>Выбрать ключ для удаления:</p>
      <select name="delkey">
        {% for key in dir %}
          <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
      </select>
      <br><br>
      <input type="submit" value="Удалить">
    </form>
    <!-- </div> -->
    <!-- <div class="form-inline"></div> -->
    <form method="POST" action="/smtp">
      <p>Выбрать ключ для дешифрования:</p>
      <select name="key">
        {% for key in dir %}
          <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
      </select>
      <br><br>
      <input type="submit" value="Расшифровать">
    </form>
    </div>
    <br>
    <hr>
    <br><br>
    <p class="theme" style="text-align: left;">Результат отбора SMTP пакетов из исходного дампа трафика:</p>
      <div class="indent-traffic">
        {% for i in sd %}
          {% if i[4]|int is jinja_is_prime%}
          <p class="division_0">{{i}}</p>
          {% else %}
          {{i}}
          {% endif %}
        {% endfor %}
      </div> 
      <br>
{% if dshow == True %}
    <br>
    <p class="theme" style="text-align: left;">Результат расшифровывания SMTP трафика с использованием SSL-ключа:</p>
    <hr>
    <br><br>
      <div class="indent-traffic">
        {% for i in dsd %}
          {% if i[4]|int is jinja_is_prime%}
          <p class="division_0">{{i}}</p>
          {% else %}
          {{i}}
          {% endif %}
        {% endfor %}
      </div> 
{% endif %}

{% if show == True %}
<br>
<hr>
<br><br> 
<p class="theme" style="text-align: left;">Доля SMTP пакетов в общей выборке пакетов:</p>
  <div class="blocks_main2">
    <img class="gr_style1"  src="data:image/png;base64,{{ circle }}" alt=".">
  </div>
  <style>
    .tabletvar2 {
      width: 100%;
    }

    .centerblock {
      margin-left: 35%;
    }

    .tabletvar2 {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; 
    }
    .tabletvar2 th {
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }
    .tabletvar2 td {
      border: 1px solid #dddddd;
      padding: 5px;
      text-align: left;
    }
    .tabletvar2 tr td:first-child, .tabletvar2 tr th:first-child {
      border-left: none;
    }
    .tabletvar2 tr td:last-child, .tabletvar2 tr th:last-child {
      border-right: none;
    }
    </style>
      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Параметры SMTP запроса и их значение:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[0]}}</th>
          <th>{{headsmtp[1]}}</th>
        </tr>
        {% for i in range(reqc[0]|length) %}
        <tr>
          <td>{{reqc[0][i]}}</td>
          <td>{{reqc[1][i]}}</td>
          <td>{{decodes2[i]}}</td>
        </tr>
        {% endfor %}
      </table>

      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Поле "Response parameter" в SMTP пакете</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[2]}}</th>
        </tr>
        {% for i in range(rspp[0]|length) %}
        <tr>
          <td>{{rspp[0][i]}}</td>
          <td>{{rspp[1][i]}}</td>
        </tr>
        {% endfor %}
      </table>

      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Коды SMTP ответа их значение:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[3]}}</th>
          <th>{{headsmtp[4]}}</th>
        </tr>
        {% for i in range(rspc[0]|length) %}
        <tr>
          <td>{{rspc[0][i]}}</td>
          <td>{{rspc[1][i]}}</td>
          <td>{{decodes[i]}}</td>
        </tr>
        {% endfor %}
      </table>
      
      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Поле "Command" в SMTP пакете:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[5]}}</th>
        </tr>
        {% for i in range(cline[0]|length) %}
        <tr>
          <td>{{cline[0][i]}}</td>
          <td>{{cline[1][i]}}</td>
        </tr>
        {% endfor %}
      </table>

      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Обнаруженный логин в открытом виде:</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[6]}}</th>
        </tr>
        {% for i in range(auser[0]|length) %}
        <tr>
          <td>{{auser[0][i]}}</td>
          <td>{{auser[1][i]}}</td>
        </tr>
        {% endfor %}
      </table>

      <br>
      <hr>
      <br><br>
    <p class="theme" style="text-align: left;">Обнаруженный пароль в открытом виде (base64):</p>
      <table class="tabletvar2"> 
        <tr>
          <th>Пакет</th>
          <th>{{headsmtp[7]}}</th>
        </tr>
        {% for i in range(apassw[0]|length) %}
        <tr>
          <td>{{apassw[0][i]}}</td>
          <td>{{apassw[1][i]}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <hr>
      <br><br>
{% endif %}
    </div>

</div></div>
{% endblock %}