
{% extends "base.html" %}

{% block title %}Tshark{% endblock %}

{% block content %}
<div>
<article>
    <h2>Краткое описание</h2>
    <p>Wireshark - это бесплатное кросс-платформенное программное обеспечение для анализа сетевых протоколов. Оно позволяет захватывать, анализировать и отображать данные, передаваемые через сеть в режиме реального времени или из сохраненных файлов.</p>
    <h2>Плюсы Wireshark:</h2>
        <ul class="navclass">
            <li>Бесплатное и с открытым исходным кодом.</li>
            <li>Поддерживает большое количество протоколов и форматов файлов.</li>
            <li>Позволяет анализировать трафик в режиме реального времени и из файловых архивов.</li>
            <li>Имеет мощные фильтры и возможность создавать собственные фильтры.</li>
            <li>Обладает удобным пользовательским интерфейсом.</li>
            <li>Предоставляет детальную информацию об обмене данными между устройствами в сети.</li>
    </ul>
    <h2>Минусы Wireshark:</h2>
        <ul class="navclass">
            <li>Может потребовать больших ресурсов системы при работе с большим объемом трафика.</li>
            <li>Не поддерживает захват трафика на некоторых операционных системах без дополнительных настроек и установки драйверов.</li>
            <li>Может вызывать проблемы с безопасностью при работе с конфиденциальной информацией, если не принять соответствующие меры по ее защите.</li>
        </ul>
    <h2>Достоинства Wireshark:</h2>       
        <ul class="navclass">
        <li>Является мощным инструментом для анализа сетевого трафика и поиска проблем с сетью или протоколами.</li>
        <li>Позволяет быстро определять причины проблем в сети, которые могут затруднять работу приложений или устройств.</li>
        <li>Помогает обеспечивать безопасность сети и узлов, выявляя возможные уязвимости и атаки.</li>
        <li>Способствует развитию и повышению квалификации специалистов в области сетевых технологий и протоколов.</li>
    </ul>
</article>   
</div>     
{% endblock %}